<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBevfx9ILh3tJkcnJ7MTCg6EJAhrMErHG8</string>
	<key>GCM_SENDER_ID</key>
	<string>181783998271</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.horariosEscolaNovo</string>
	<key>PROJECT_ID</key>
	<string>yasmin-f5265</string>
	<key>STORAGE_BUCKET</key>
	<string>yasmin-f5265.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:181783998271:ios:c376c50a7c248c8b34ed8a</string>
</dict>
</plist>
